<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="DownloadCtrl">
    <div class="bar bar-header bar-stable">
      <h1 class="title">downloading demo</h1>
    </div>
    <br><br><br><br>
      <button class="button button-full button-positive" ng-click="downloadAction()">
        Download
      </button>
      <progress id="progressBar" max="100" value="0"></progress><br>

      <button style="margin: 0 auto; width:32%" class="button button-outline button-calm" ng-click="pauseAction()">
        Pause
      </button>
      <button style="margin: 0 auto; width:32%" class="button button-outline button-calm" ng-click="resumeAction()">
        Resume
      </button>
      <button style="margin: 0 auto; width:32%" class="button button-outline button-assertive" ng-click="abortAction()">
        Abort
      </button>
      <button class="button button-full button-positive" ng-click="ntfyAction()">
        Schedule
      </button><br>

      <div class="list">
        <div ng-repeat="file in files">
            <a class="item item-icon-left" href="#" ng-click="getContents(file.nativeURL)">
                <i ng-show="file.isDirectory" class="icon ion-folder"></i>
                <i ng-show="file.isFile" class="icon ion-document"></i>
                {{file.name}}
            </a>
        </div>
    </div>
  </body>
</html>
